* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

#main-wrapper {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 5px #333;
}

#main-header {
    background-color: #333333;
    color: #efefef;
}

#main-logo {
    padding: 20px 5px;
}

#main-logo p {
    margin-top: 5px;
}

#main-section {
    margin-top: 10px;
}

#main-content {
    width: 74.5%;
    padding-left: 50px;
}

#main-aside {
    padding-left: 10px;
    width: 25%;
}

#main-aside, #main-content {
    display: inline-block;
    vertical-align: top;
}

#profile-pic {
    width: 100%;
    height: auto;
}

#main-nav {
    float: right;
    margin-bottom: 5px;
}

#main-nav ul li {
    display: inline-block;
    border-right: 1px solid #333;
}

#main-nav ul li:last-child {
    border-right: none;
}

#main-nav ul li a {
    color: #333333;
    background-color: #efefef;
    text-decoration: none;
    padding: 5px;
}

#main-nav ul li a:hover {
    background-color: #afafaf;
}

#main-nav ul li a:active {
    box-shadow: inset 0px 0px 5px #333;
}

.clearfix {
    overflow: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.info-table {
    margin: 50px auto;
    width: 80%;
}

.info-table .info-table-field:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.info-table-field {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.info-table-label, .info-table-data {
    display: inline-block;
    vertical-align: top;
}

.info-table-label {
    width: 25%;
    padding-right: 20px;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
}

.info-table-data ul {
    list-style: disc;
}

.info-table-data ul li {
    list-style: disc;
    margin-bottom: 5px;
}